<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>A2752452-03D4-499A-BDBE-23E64499ABA5</string>
	<key>title</key>
	<string>线性代数及其应用</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
